<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-custom-notification-sound" version="6.1.2"
		xmlns="http://apache.org/cordova/ns/plugins/1.0"
		xmlns:android="http://schemas.android.com/apk/res/android">
	<name>cordova-custom-notification-sound</name>

  <platform name="android">
		<resource-file src="beep.wav" target="platforms/android/res/raw/beep.wav" />
	</platform>

</plugin>
